<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Buckley & Sitzman, LLP | {{ renderData.title or metadata.title or title or "Home" }}
    </title>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="aacff600-2545-4658-8571-c347e6f6f956"></script>
    <meta charset="utf-8" />
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}

    <meta property="og:image"
    content="https://buckleysitzman.com{{renderData.feature_image or feature_image or "/assets/logo.svg" }}" />
    <meta property="og:type" content="{{content_type or "website"}}" />
    <meta property="og:title" content="Buckley & Sitzman, LLP | {{ renderData.title or metadata.title or title or "Home" }}" />
    <meta property="og:description" content="{{description or title}}" />
    <meta property="og:url" content="https://buckleysitzman.com{{page.url}}" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="buckleysitzman.com" />
    <meta property="twitter:url" content="https://buckleysitzman.com{{page.url}}" />
    <meta property="twitter:image"
    content="https://buckleysitzman.com{{renderData.feature_image or feature_image or "/assets/logo.svg" }}" />
    <meta property="twitter:title" content="Buckley & Sitzman, LLP | {{ renderData.title or metadata.title or title or "Home" }}" />
    <meta property="twitter:description" content="{{description or title or "Home"}}" />

    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon.svg"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>

    <script defer src="https://unpkg.com/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/@alpinejs/intersect@3.x.x/dist/cdn.min.js"></script>

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    {% block head %}{% endblock %}
  </head>
  <body>
    <header class="sticky top-0 bg-white z-10 pt-8 pb-8" x-data="{menu_open: false}">
      <div class="max-w-screen-xl mx-auto px-4 sm:px-6">
        <nav class="relative flex items-center justify-between sm:h-10 lg:justify-end">
          <div class="flex items-center flex-1 lg:absolute lg:inset-y-0 lg:left-0">
            <div class="flex items-center justify-between w-full lg:w-auto">
              <a class="flex inline-flex" href="/" aria-label="Home">
                <img class="hidden xl:flex w-10" src="/assets/hex_logo.svg">
                <img class="lg:ml-6 w-96 lg:w-64 xl:w-96" src="/assets/logo.svg" alt="Logo">
              </a>
              <div class="-mr-2 flex items-center lg:hidden">
                <!-- Mobile Menu Expand -->
                <button type="button" class="inline-flex items-center justify-center p-2 rounded-lg text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" id="main-menu" aria-label="Main menu" aria-haspopup="true" @click="menu_open = true">
                  <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="hidden lg:flex lg:space-x-10">
            <a
              href="/"
              class="font-medium text-gray-500 hover:text-secondary-500
                     border-b-4 border-b-transparent
                     hover:border-b-secondary-500 transition duration-150
                     ease-in-out"
            >
              Home
            </a>
            <a
              href="/pay-my-bill"
              class="font-medium text-gray-500 hover:text-secondary-500
                     border-b-4 border-b-transparent
                     hover:border-b-secondary-500 transition duration-150
                     ease-in-out"
            >
              Pay My Bill
            </a>
            <a
              href="/services"
              class="font-medium text-gray-500 hover:text-secondary-500
                     border-b-4 border-b-transparent
                     hover:border-b-secondary-500 transition duration-150
                     ease-in-out"
            >
              Services
            </a>
            <a
              href="/meet-our-team"
              class="font-medium text-gray-500 hover:text-secondary-500
                     border-b-4 border-b-transparent
                     hover:border-b-secondary-500 transition duration-150
                     ease-in-out"
            >
              Meet Our Team
            </a>
            <a
              href="/careers"
              class="font-medium text-gray-500 hover:text-secondary-500
                     border-b-4 border-b-transparent
                     hover:border-b-secondary-500 transition duration-150
                     ease-in-out"
            >
              Careers
            </a>
            <a
              href="/contact-us"
              class="font-medium text-gray-500 hover:text-secondary-500
                     border-b-4 border-b-transparent
                     hover:border-b-secondary-500 transition duration-150
                     ease-in-out"
            >
              Contact Us
            </a>
          </div>
        </nav>
      </div>

      <!--
        Mobile menu, show/hide based on menu open state.
      -->
      <div
        x-show="menu_open"
        x-transition:enter="duration-150 ease-out"
        x-transition:enter-start="opacity-0 scale-95"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="duration-100 ease-in"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
        class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right lg:hidden z-50"
      >
        <div class="rounded-lg shadow-md">
          <div class="rounded-lg bg-white shadow-xs overflow-hidden" role="menu" aria-orientation="vertical" aria-labelledby="main-menu">
            <div class="px-5 pt-4 flex items-center justify-between">
              <div>
                <img class="w-96" src="/assets/logo.svg" alt="Logo">
              </div>
          <div class="-mr-2">
            <button type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out" aria-label="Close menu" @click="menu_open = false">
              <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
            </div>
            <div class="px-2 pt-2 pb-3">
              <a href="/" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">
                Home
              </a>
              <a href="/pay-my-bill" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">
                Pay My Bill
              </a>
              <a href="/services" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">
                Services
              </a>
              <a href="/meet-our-team" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">
                Meet Our Team
              </a>
              <a href="/careers" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">
                Careers
              </a>
              <a href="/contact-us" class="mt-1 block px-3 py-2 rounded-md text-base font-medium text-gray-700 hover:text-gray-900 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out" role="menuitem">
                Contact Us
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="bg-white flex flex-col justify-between min-h-screen">
      <div class="relative">

        <main class="flex-1">
          {% if feature_image %}
            <div class="mb-12 max-h-96 lg:max-h-128 xl:max-h-144 w-full overflow-y-hidden">
              <img src="{{feature_image}}" alt="{{title}}" class="w-full object-center" />
            </div>
          {% endif %}

          <div class="my-16 lg:my-12 text-center">
            <h1 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
              {{title}}
            </h1>
          </div>

          {{ content | safe }}
        </main>
      </div>

      <footer class="w-full border-t border-gray-200">
        <div class="border-t border-gray-200 w-full">
          <div class="mx-auto max-w-7xl my-6 px-4 sm:px-6 md:px-8 w-full
            text-gray-500 flex flex-col sm:flex-row justify-between">
            <div class="px-8 md:px-0">
              <p><b>Buckley &amp; Sitzman, LLP</b></p>
              <p>4240 Pioneer Woods Drive</p>
              <p>Lincoln, NE, 68506</p>
              <p><a href="tel:4024847676" class="underline hover:text-gray-900">(402) 484-7676</a></p>
              <p class=""><a href="/privacy" class="underline hover:text-gray-900">Privacy Policy</a></p>
              <p class=""><a href="/transparency" class="underline
                hover:text-gray-900">Transparency in Coverage Files</a></p>


              <p x-data='{year: new Date().getFullYear()}' class="mt-6 text-sm">
                &copy; 2021-<span x-text="year"></span> Buckley &amp; Sitzman, LLP. All rights reserved.
              </p>
            </div>

            <div class="px-8 md:px-0 py-8">
              <img
                src="/assets/nescpa_one_hundred_percent_logo.jpeg"
                alt="NESCPA 100% Membership"
                class="object-contain w-24 h-24 md:w-32 md:h-32"
              />

            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
