---
title: Careers
layout: default
---

<div class="pt-10 bg-gray-900 sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden">
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
        <div class="lg:py-16">
          <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-blue-400
            sm:mt-5 sm:text-6xl lg:mt-6 xl:text-5xl">
            <span class="block">Account for your present</span>
            <span class="pb-3 block text-yellow-400 sm:pb-5">Maximize your future</span>
          </h1>
          <p class="text-base text-gray-300 sm:text-xl lg:text-lg xl:text-xl">
            For nearly 100 years and four generations, <b>Buckley &amp; Sitzman,
            LLP</b> has guided clients like you through the dynamic accounting
            landscape, helping them to maintain financial viability while
            proactively planning for future goals.
          </p>
          <div class="mt-10">
            <a href="/contact-us" class="inline-flex items-center uppercase py-6
                     px-8 rounded-md text-lg
                     hover:bg-blue-600 bg-blue-500 text-white font-medium
                     focus:outline-none focus:ring-2 focus:ring-offset-2
                     focus:ring-blue-400 focus:ring-offset-gray-900">
              Get in Touch
            </a>
          </div>
        </div>
      </div>
      <div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
        <div class="mx-auto max-w-md px-4 sm:px-6 lg:px-0">
          <img
            class="w-full max-w-md h-auto"
            src="/img/header-illustration.svg" alt=""
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-16 text-center">
  <h1 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
    {{title}}
  </h1>
</div>

<div class="relative my-16">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="prose prose-lg lg:text-xl text-gray-500 mx-auto">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
        est laborum.
      </p>
      <div class="my-10">
        {% image "/img/tmp/brooke-cagle-g1Kr4Ozfoac-unsplash.jpeg", "Staff Photo", "rounded-lg shadow-xl ring-1 ring-black ring-opacity-5" %}
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
        est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
        est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
        est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
        est laborum.
      </p>
    </div>
  </div>
</div>

<div class="bg-white pb-16 sm:pb-24 lg:pb-32">
  <div class="mx-auto max-w-md sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
    <div class="mt-24 mx-auto max-w-prose">
      <p class="text-left text-xl text-gray-500">
        Ready to start the next step of your career with <b>Buckley &amp;
          Sitzman, LLP</b> and join one of the best accounting firms to work at
        in Lincoln?
      </p>
      <p class="mt-10 text-center">
        <a href="/contact-us" class="inline-flex items-center uppercase py-3 px-4 rounded-md
                             hover:bg-blue-600 bg-blue-500 text-white font-medium
                             focus:outline-none focus:ring-2 focus:ring-offset-2
                             focus:ring-blue-400 focus:ring-offset-gray-900">
          Contact Us
        </a>
      </p>
    </div>
  </div>
</div>
