---
title: Careers
layout: default
---

<div class="pt-10 bg-gray-900 sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden">
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
        <div class="lg:py-16">
          <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-blue-400
            sm:mt-5 sm:text-6xl lg:mt-6 xl:text-5xl">
            <span class="block">Account for your present</span>
            <span class="pb-3 block text-yellow-400 sm:pb-5">Maximize your future</span>
          </h1>
          <p class="text-base text-gray-300 sm:text-xl lg:text-lg xl:text-xl">
            For nearly 100 years and four generations, <b>Buckley &amp; Sitzman,
            LLP</b> has guided clients like you through the dynamic accounting
            landscape, helping them to maintain financial viability while
            proactively planning for future goals.
          </p>
          <div class="mt-10">
            <a href="/contact-us" class="inline-flex items-center uppercase py-6
                     px-8 rounded-md text-lg
                     hover:bg-blue-600 bg-blue-500 text-white font-medium
                     focus:outline-none focus:ring-2 focus:ring-offset-2
                     focus:ring-blue-400 focus:ring-offset-gray-900">
              Get in Touch
            </a>
          </div>
        </div>
      </div>
      <div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
        <div class="mx-auto max-w-md px-4 sm:px-6 lg:px-0">
          <img
            class="w-full max-w-md h-auto"
            src="/img/header-illustration.svg" alt=""
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-16 text-center">
  <h1 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
    {{title}}
  </h1>
</div>

<div class="relative my-16">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="prose prose-lg lg:text-xl text-gray-500 mx-auto">
      <p>
        Our mission is to help clients maintain financial viability in the
        present, while taking a proactive approach to achieve future goals. This
        requires open communication to reach an understanding of our clients'
        needs through research and sound analysis.  We have been a staple of the
        business community for years, and pride ourselves on the level of esteem
        we have earned.
      </p>
      <p>
        Our dedication to hard work has earned the respect of the
        business and financial community that we serve. Your finances are
        personal. We want to build a strong relationship and understand your
        needs. Whether you are a current or prospective client, rest assured that
        individuals and businesses who choose <b>Buckley &amp; Sitzman, LLP</b>
        receive competent and timely advice.
      </p>
      <div class="my-10">
        {% image "/img/tmp/brooke-cagle-g1Kr4Ozfoac-unsplash.jpeg", "Staff Photo", "rounded-lg shadow-xl ring-1 ring-black ring-opacity-5" %}
      </div>
      <p>
        We value attention to detail, cooperative and collaborative attitudes,
        and relevant knowledge and experience. We offer a flexible schedule,
        paid time off, professional development assistance, and a friendly and
        collegial work environment.
      </p>
    </div>
  </div>
</div>

<div class="bg-white py-16">
  <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
    <h2 class="text-base text-center font-semibold tracking-wider text-blue-700 uppercase">
      Current Openings
    </h2>
    <p class="mt-2 text-3xl text-center font-extrabold text-gray-900 tracking-tight sm:text-4xl">
      Come work with us
    </p>
    <p class="mt-5 max-w-prose mx-auto text-xl text-gray-500">
      <b>Buckley &amp; Sitzman, LLP</b> has the following positions open. You
      can also learn more <a class="underline" href="/meet-our-team">about our
        team</a> and about the <a class="underline" href="/services">services we
        offer</a>. We pride ourselves on doing excellent work for our clients
      and on maintaining a friendly and collaborative environment.
    </p>
    <div class="mt-12">
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-y-16
        sm:gap-y-0 sm:gap-x-16">
        {%- set job_postings = collections.job_postings | first -%}
        {%- for posting in job_postings.data.items -%}
          <div class="flex-1 flex-col space-y-8">
            {% if posting.image %}
              <div class="aspect-w-3 aspect-h-2">
                {% image posting.image, posting.name, "w-full h-full
                object-cover rounded-lg shadow-xl" %}
              </div>
            {% endif %}
            <div class="text-lg text-center text-blue-600 leading-6 font-medium space-y-1">
              <h3>{{posting.name}}</h3>
            </div>
            <div class="prose text-gray-500">
              {{ posting.body | markdown | safe }}
            </div>
            <div class="mt-10 flex justify-center">
              <a
                href="{{posting.link}}"
                target="_blank"
                class="w-3/4 flex justify-center text-white font-medium
                       uppercase py-3 px-4 rounded-md hover bg-blue-500
                       hover:bg-blue-600 font-medium focus:outline-none
                       focus:ring-2 focus:ring-offset-2 focus:ring-blue-500
                       focus:ring-offset-white"
              >
                Apply
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


<div class="bg-white pb-16 sm:pb-24 lg:pb-32">
  <div class="mx-auto max-w-md sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
    <div class="mt-24 mx-auto max-w-prose">
      <p class="text-left text-xl text-gray-500">
        Ready to start the next step of your career with <b>Buckley &amp;
          Sitzman, LLP</b> and join one of the best accounting firms to work at
        in Lincoln? Think you might be a good fit for our team?
      </p>
      <p class="mt-10 text-center">
        <a
          href="/contact-us"
          target="_blank"
          class="inline-flex items-center uppercase py-3 px-16 rounded-md
                 hover:bg-blue-600 bg-blue-500 text-white font-medium
                 focus:outline-none focus:ring-2 focus:ring-offset-2
                 focus:ring-blue-400 focus:ring-offset-white"
        >
          Contact Us
        </a>
      </p>
    </div>
  </div>
</div>
