---
layout: default
---

<div class="py-24">
  <div class="mx-auto max-w-md px-4 sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
    <div>
      <h2 class="text-base text-center font-semibold tracking-wider text-blue-700 uppercase">
        History and Mission
      </h2>
      <p class="text-center mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
        Here for the long haul
      </p>
      <div class="max-w-prose mx-auto text-xl text-gray-500">
        <p class="mt-5">
          <b>Buckley &amp; Sitzman, LLP</b> was founded in <time datetime="1927"> 1927 </time> by Lester M.
          Buckley in Lincoln, Nebraska. Though the world is different, our roots
          are the same: building long-lasting partnerships with our clients
          that give them peace of mind through both good times and bad.
        </p>
        <p class="mt-5">
          Since our founding, we have become one of the most respected
          accounting firms in the region, and have a depth of knowledge and
          experience that will help you weather financial storms, plan for
          changes both anticipated and unanticipated, and receive every benefit
          you are entitled to under tax laws.
        </p>
        <p class="mt-5">
          We communicate with you every step of the way to understand your
          needs. We specialize in complex, multi-faceted accounting problems,
          and in finding synergies and solutions that save you time and money.
        </p>
      </div>
    </div>
    <!-- TODO: Better alt text once we add in the new image -->
    <div class="my-12 md:my-20">
      {% image "/img/tmp/brooke-cagle-g1Kr4Ozfoac-unsplash.jpeg", "Staff Photo", "rounded-lg shadow-xl ring-1 ring-black ring-opacity-5" %}
    </div>
      <div class="max-w-prose mx-auto text-xl text-gray-500">
        <p class="mt-12 md:mt-24">
          Our goal is always to provide the best service we can at justifiable
          rates. Our professional staff are committed to using the full
          capabilities of technology to provide you the best service we can.
          Working with us also always includes contact with partners as we seek
          to give you the best outcomes possible.
        </p>
        <div class="mt-10 text-center text-base">
          <a href="/meet-our-team" class="inline-flex items-center uppercase py-3 px-4 rounded-md
                   hover:bg-secondary-600 bg-secondary-500 text-black font-medium
                   focus:outline-none focus:ring-2 focus:ring-offset-2
                   focus:ring-secondary-400 focus:ring-offset-secondary-600">
            Meet Our Team
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="my-12 pb-16 bg-gradient-to-r from-primary-800 to-primary-900 lg:pb-0">
  <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
    <div class="relative lg:-my-8">
      <div aria-hidden="true" class="absolute inset-x-0 top-0 h-1/2 bg-white lg:hidden"></div>
      <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
        <div class="aspect-w-10 aspect-h-6 rounded-xl lg:shadow-xl
          overflow-hidden sm:aspect-w-10 sm:aspect-h-6 lg:aspect-none lg:h-full">
          {% image "/img/lester.jpeg", "Lester F. Buckley", "object-cover lg:h-full lg:w-full" %}
        </div>
      </div>
    </div>
    <div class="mt-12 lg:m-0 lg:col-span-2 lg:pl-8">
      <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-20 lg:max-w-none">
        <blockquote>
          <div>
            <svg class="h-12 w-12 text-gray-600" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
              <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
            </svg>
            <p class="mt-6 text-2xl font-medium text-gray-200">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed urna nulla vitae laoreet augue. Amet feugiat est integer dolor auctor adipiscing nunc urna, sit.
            </p>
          </div>
          <footer class="mt-6">
            <p class="text-base font-medium text-gray-200">Lester F. Buckley</p>
            <p class="text-base font-medium text-gray-300">Partner, <b>Buckley
              &amp; Sitzman, LLP</b></p>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-16 sm:py-24 lg:py-32">
  <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
    <h2 class="text-base font-semibold tracking-wider text-blue-700 uppercase">
      Services
    </h2>
    <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
      Everything you might need
    </p>
    <p class="mt-5 max-w-prose text-left mx-auto text-xl text-gray-500">
      <b>Buckley &amp; Sitzman, LLP</b> provides a wide range of
      <a class="underline" href="/services">services</a> to individuals and
      businesses in a variety of industries. We strive to meet each client's
      specific needs in planning for the future and meeting their goals in an
      ever-changing financial and regulatory environment. Our professional
      services include:
    </p>
    <div class="mt-12">
      <div class="grid grid-flow-row auto-rows-fr grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3">

        {%- for service in collections.services -%}
          <div class="pt-6">
            <div class="flow-root bg-gray-50 h-full rounded-lg px-6 pb-8">
              <div class="-mt-6">
                <div>
                  <span class="inline-flex items-center justify-center p-3 bg-primary-900 rounded-md shadow-lg">
                    <svg class="w-6 h-6 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                  </span>
                </div>
                <h3 class="mt-8 text-lg font-medium text-gray-900 tracking-tight">
                  {{service.title}}
                </h3>
                <p class="mt-5 text-base text-gray-500">
                  {{service.summary}}
                </p>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>
    </div>
  </div>
</div>

<div class="bg-white pb-16 sm:pb-24 lg:pb-32">
  <div class="mx-auto max-w-md text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
    <div class="mt-12 md:mt-24 mx-auto max-w-prose">
      <p class="text-left text-xl text-gray-500">
        Ready to get started and see what services <b>Buckley &amp; Sitzman,
          LLP</b> can help you or your business with?
      </p>
      <p class="mt-10">
        <a href="/contact-us" class="inline-flex items-center uppercase py-3 px-4 rounded-md
                 hover:bg-secondary-600 bg-secondary-500 text-black font-medium
                 focus:outline-none focus:ring-2 focus:ring-offset-2
                 focus:ring-secondary-400 focus:ring-offset-secondary-600">
          Contact us
        </a>
      </p>
    </div>
  </div>
</div>
