---
title: Buckley & Sitzman
feature_image: "/img/splashes/writing.jpeg"
layout: default
---

<div class="pb-24">
  <div class="mx-auto max-w-md px-4 sm:px-6 sm:max-w-3xl lg:px-8 lg:max-w-7xl">
    <div>
      <h2 class="text-base text-center font-semibold tracking-wider
        text-secondary-500 uppercase">
        Personal Accounting Service from a Local Firm
      </h2>
      <div class="max-w-prose mx-auto text-xl text-gray-700">
        <p class="mt-5">
          <b>Buckley &amp; Sitzman, LLP</b> was founded in <time datetime="1927"> 1927 </time> by Lester M.
          Buckley in Lincoln, Nebraska. Though the world is different, our roots
          are the same: building long-lasting partnerships with our clients
          that give them peace of mind through both good times and bad.
        </p>
        <p class="mt-5">
          Since our founding, we have become one of the most respected
          accounting firms in the region, and have a depth of knowledge and
          experience that will help you weather financial storms, plan for
          changes both anticipated and unanticipated, and receive every benefit
          you are entitled to under tax laws.
        </p>
        <p class="mt-5">
          We communicate with you every step of the way to understand your
          needs. We specialize in complex, multi-faceted accounting problems,
          and in finding synergies and solutions that save you time and money.
        </p>
      </div>
    </div>
    <!-- TODO: Better alt text once we add in the new image -->
    <div class="my-12 md:my-20">
      <img
        src="/img/splashes/women_chatting.jpeg" i
        alt="Staff Photo"
        class="rounded-lg shadow-xl ring-1 ring-black ring-opacity-5"
      />
    </div>
    <div class="max-w-prose mx-auto text-xl text-gray-700">
      <p class="mt-12 md:mt-24">
        We work tirelessly to ensure the best outcomes for our clients, and to
        help clients maintain financial viability in the present while taking a
        proactive approach to future goals.
      </p>
      <div class="mt-10 text-center text-base">
        <a href="/meet-our-team" class="inline-flex items-center uppercase py-3 px-4 rounded-md
                 bg-secondary-500 text-black font-medium
                 focus:outline-none focus:ring-2 focus:ring-offset-2
                 focus:ring-secondary-400 focus:ring-offset-secondary-600
                 hover:scale-105 transition ease-in-out">
          Meet Our Team
        </a>
      </div>
    </div>
  </div>
</div>

<div x-data="{shown: false}" x-intersect.half.once="shown = true">
  <div x-transition.duration.500ms x-show="shown" class="my-12 pb-16 bg-gradient-to-r from-primary-800 to-primary-900 lg:pb-0">
    <div class="lg:mx-auto lg:max-w-7xl lg:px-8 lg:grid lg:grid-cols-3 lg:gap-8">
      <div class="relative lg:-my-8">
        <div aria-hidden="true" class="absolute inset-x-0 top-0 h-1/2 bg-white lg:hidden"></div>
        <div class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:p-0 lg:h-full">
          <div class="aspect-w-3 aspect-h-5 sm:aspect-w-3 sm:aspect-h-5 lg:aspect-none lg:h-full">
            <img
              src="/img/people/lester_buckley.jpg"
              alt="Lester F. Buckley"
              class="rounded-xl shadow-xl object-cover lg:h-full lg:w-full
                     hover:shadow-2xl transition transition-shadow ease-in-out"
            />
          </div>
        </div>
      </div>
      <div class="mt-0 lg:m-0 lg:col-span-2 lg:pl-8">
        <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 lg:px-0 lg:py-20 lg:max-w-none">
          <blockquote>
            <div>
              <svg class="h-12 w-12 text-gray-600" fill="currentColor" viewBox="0 0 32 32" aria-hidden="true">
                <path d="M9.352 4C4.456 7.456 1 13.12 1 19.36c0 5.088 3.072 8.064 6.624 8.064 3.36 0 5.856-2.688 5.856-5.856 0-3.168-2.208-5.472-5.088-5.472-.576 0-1.344.096-1.536.192.48-3.264 3.552-7.104 6.624-9.024L9.352 4zm16.512 0c-4.8 3.456-8.256 9.12-8.256 15.36 0 5.088 3.072 8.064 6.624 8.064 3.264 0 5.856-2.688 5.856-5.856 0-3.168-2.304-5.472-5.184-5.472-.576 0-1.248.096-1.44.192.48-3.264 3.456-7.104 6.528-9.024L25.864 4z" />
              </svg>
              <p class="mt-6 text-2xl font-medium text-gray-200">
                Our dedicated team of professionals continually strive to
                provide the knowledge, expertise, and services to help our
                clients grow in their businesses and professional endeavors.
              </p>
            </div>
            <footer class="mt-6">
              <p class="text-base font-medium text-gray-200">Lester F. Buckley</p>
              <p class="text-base font-medium text-gray-300">Partner, <b>Buckley
                &amp; Sitzman, LLP</b></p>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white py-16 sm:py-24 lg:py-32">
  <div class="mx-auto max-w-md px-4 text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
    <h2 class="text-base font-semibold tracking-wider text-secondary-500 uppercase">
      Services
    </h2>
    <p class="mt-2 text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl">
      Keep Things Simple and Focus on the Right Things
    </p>
    <p class="mt-5 max-w-prose text-left mx-auto text-xl text-gray-700">
      <b>Buckley &amp; Sitzman, LLP</b> provides a wide range of services to
      individuals and businesses in a variety of industries. We strive to meet
      each client's specific needs in planning for the future and meeting their
      goals in an ever-changing financial and regulatory environment.
    </p>
    <p class="mt-5 max-w-prose text-left mx-auto text-xl text-gray-700">
      We have expertise across many industries, and are ready to help you.
    </p>
    <div class="mt-10 text-center text-base">
      <a href="/services" class="inline-flex items-center uppercase py-3 px-4 rounded-md
               bg-secondary-500 text-black font-medium
               focus:outline-none focus:ring-2 focus:ring-offset-2
               focus:ring-secondary-400 focus:ring-offset-secondary-600
               hover:scale-105 transition ease-in-out">
        See Our Services
      </a>
    </div>
  </div>
</div>

<div class="w-full">
  <img class="mx-auto w-12" src="/assets/hex_logo.svg">
</div>

<div class="bg-white pb-16 px-6 sm:pb-24 lg:pb-32">
  <div class="mx-auto max-w-md text-center sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl">
    <div class="mt-12 md:mt-24 mx-auto max-w-prose">
      <p class="text-left text-xl text-gray-700">
        Ready to get started and see what services <b>Buckley &amp; Sitzman,
          LLP</b> can help you or your business with?
      </p>
      <p class="mt-10">
        <a
          href="/contact-us"
          class="inline-flex items-center uppercase py-3 px-4 rounded-md
                 hover:scale-105 transition ease-in-out bg-secondary-500
                 text-black font-medium focus:outline-none focus:ring-2
                 focus:ring-offset-2 focus:ring-secondary-400
                 focus:ring-offset-secondary-600"
        >
          Contact us
        </a>
      </p>
    </div>
  </div>
</div>
