---
layout: default
---

<div class="text-center">
  <h1 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
    Buckley & Sitzman, LLP
  </h1>
  <h2>Building Trust & Relationships Since 1927</h2>
</div>

<div class="relative my-16">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="prose prose-lg lg:text-xl text-gray-500 mx-auto">
    <p>We have helped clients navigate the dynamic accounting landscape since The Great Depression, fostering trust over four generations.
    </p>
      <p>
       <h3>About Us</h3>
?? Buckley founded our firm in 1927, and it has since grown in size and reputation to become one of the most respected in the region. We specialize in taking on complex, multifaceted accounting problems, finding synergies and solutions that save you time and money.
      </p>
      <p>
      As our roster and services continue to expand, we never lose sight of our roots as a family firm. Building relationships remains the heart of our business model, and every client enjoys the peace of mind achievable only through true partnership.
      </p>
      <p>
      <h3>Our Mission</h3>
Buckley & Sitzman exists to help clients maintain financial viability in the present, while taking a proactive approach to achieve future goals. 
      </p>
      <p>
Our long experience in the industry makes us uniquely suited to helping you weather unexpected financial storms, plan for anticipated changes, and receive every benefit you are entitled to under all tax laws. We communicate with you every step of the way to understand your needs and help you understand the work we accomplish on your behalf.
      </p>
      <p>
<h3>Services</h3>
Buckley & Sitzman is a full-service accounting firm, tailoring our work to your specific needs. Contact us to help you with:
      </p>
      <ul>
<li>Tax Planning & Preparation</li>
<li>Bookkeeping & Payroll Service</li>
<li>Assurance & Advisory Services</li>
<li>Estate and Trust Planning & Tax Preparation</li>
<li>IRS Representation</li>
<li>Entity Selection & Restructuring</li>
<li>Financial Projections & Forecasts</li>
<li>Debt & Finance Advising</li>
<li>Accounting Services</li>
<li>Audits, Reviews, & Compilations</li>
<li>Financial and Retirement Planning</li>
<li>QuickBooks Accounting Help and Assistance</li>
<li>Cash Flow & Budgeting Analysis</li>
<li>Mergers, Acquisitions, & Sales</li>
      </ul>
    </div>
  </div>
</div>
