---
title: Meet Our Team
layout: default
feature_image: "/img/splashes/laptop_and_hands.jpeg"
---

<div class="bg-white">
  <div class="mx-auto px-4 max-w-7xl sm:px-6 lg:px-8 lg:pt-12">
    <h2 class="sr-only">Our Team</h2>
    <div class="space-y-12">
      <ul role="list" class="space-y-12 sm:grid sm:grid-cols-2 sm:gap-x-8
        sm:gap-y-12 sm:space-y-0 md:grid-cols-4 md:gap-x-4 lg:gap-x-12">
        {%- for person in collections.people -%}
          <li x-data="{open: false}">
            <div class="space-y-4">
              <div class="aspect-w-3 aspect-h-5 overflow-y-hidden shadow-lg rounded-lg">
                <a href="/meet-our-team/{{person.short_name | slug}}/">
                  {% if person.image %}
                    <img
                      src="{{person.image}}"
                      alt="{{person.name}}"
                      class="w-full h-full object-cover"
                    />
                  {% else %}
                    <div class="w-full h-full bg-primary-500 flex justify-center align-center">
                      <svg class="w-2/3 text-primary-50" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                        <path clip-rule="evenodd" fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-5.5-2.5a2.5 2.5 0 11-5 0 2.5 2.5 0 015 0zM10 12a5.99 5.99 0 00-4.793 2.39A6.483 6.483 0 0010 16.5a6.483 6.483 0 004.793-2.11A5.99 5.99 0 0010 12z"></path>
                      </svg>
                    </div>
                  {% endif %}
                </a>
              </div>

              <div class="space-y-2">
                <div class="text-lg leading-6 font-medium space-y-1">
                  <h3>{{person.name}}</h3>
                  {% if person.job_title %}
                    <p class="text-base text-primary-900">{{person.job_title}}</p>
                  {% endif %}
                </div>

                <ul role="list" class="flex space-x-8">
                  {% if person.email_address %}
                    <li>
                      <a target="_blank" href="mailto:{{person.email_address}}"
                        class="flex text-gray-500 hover:text-secondary-500">
                        <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path><path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path></svg>
                        <span class="ml-2">Email</span>
                      </a>
                    </li>
                  {% endif %}
                  <li>
                    <a href="/meet-our-team/{{person.short_name | slug}}/"
                      class="flex text-gray-500 hover:text-secondary-500"
                    >
                      <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path></svg>
                      <span class="ml-1">Bio</span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<div class="mt-16">
  <h2 class="text-lg text-center font-semibold tracking-wider
               text-secondary-500 uppercase">
    Other Professionals
  </h2>
  <div class="mt-12 max-w-4xl mx-auto px-8">
    <div class="grid grid-flow-row sm:grid-cols-2 lg:grid-cols-3 gap-8">
      {%- for op in collections.other_people -%}
        <div class="flow-root h-full text-center bg-gray-100 rounded-lg py-5 px-5">
          <p>{{op.name}}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="w-full my-16">
  <img class="mx-auto w-12" src="/assets/hex_logo.svg" alt="">
</div>

<div class="relative my-16 px-4 sm:px-6 lg:px-8">
  <div class="prose prose-lg lg:text-xl text-gray-500 mx-auto">
    <p>
      We work tirelessly to ensure the best outcomes for our clients. Ready to
      see what the accountants and staff at <b>Buckley &amp; Sitzman, LLP</b>
      can do for you and your business?
    </p>
  </div>
  <div class="max-w-prose text-center mx-auto">
    <p class="mt-10">
      <a
        href="/contact-us"
        class="inline-flex items-center uppercase py-3 px-4 rounded-md
               hover:scale-105 transition ease-in-out bg-secondary-500
               text-black font-medium focus:outline-none focus:ring-2
               focus:ring-offset-2 focus:ring-secondary-400
               focus:ring-offset-secondary-600"
      >
        Contact Us
      </a>
    </p>
  </div>
</div>
