---
title: Pay My Bill
layout: default
---

<div class="mt-16 text-center">
  <h1 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
    {{title}}
  </h1>
</div>

<div class="my-16 max-w-3xl mx-auto">
  <p>
    We accept all major credit cards as well as payments made by ACH. Follow the
    "Make a Payment" link below and you will be redirected to a secure page for
    processing.
  </p>
  <div class="my-8 text-center">
    <a href="https://secure.cpacharge.com/pages/buckleyandsitzmanllp/payments" class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Make a Payment
    </a>
  </div>
</div>
