---
title: Pay My Bill
layout: default
---

<div class="p-8 my-16 max-w-3xl mx-auto">
  <p class="prose prose-xl">
    We accept all major credit cards as well as payments made by ACH. Follow the
    "Make a Payment" link below and you will be redirected to a secure page for
    processing.
  </p>
  <div class="my-16 text-center">
    <a
      href="https://secure.cpacharge.com/pages/buckleyandsitzmanllp/payments"
      class="inline-flex items-center uppercase py-3 px-4 rounded-md
             hover:scale-105 transition ease-in-out bg-secondary-500 text-black
             font-medium focus:outline-none focus:ring-2 focus:ring-offset-2
             focus:ring-secondary-400 focus:ring-offset-secondary-600"
    >
      Make a Payment
    </a>
  </div>
</div>

<div class="w-full">
  <img class="mx-auto w-12" src="/img/hex_logo.svg">
</div>
