---
title: Pay My Bill
layout: default
---

<div class="pt-10 bg-gray-900 sm:pt-16 lg:pt-8 lg:pb-14 lg:overflow-hidden">
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="lg:grid lg:grid-cols-2 lg:gap-8">
      <div class="mx-auto max-w-md px-4 sm:max-w-2xl sm:px-6 sm:text-center lg:px-0 lg:text-left lg:flex lg:items-center">
        <div class="lg:py-16">
          <h1 class="mt-4 text-4xl tracking-tight font-extrabold text-blue-400
            sm:mt-5 sm:text-6xl lg:mt-6 xl:text-5xl">
            <span class="block">Account for your present</span>
            <span class="pb-3 block text-yellow-400 sm:pb-5">Maximize your future</span>
          </h1>
          <p class="text-base text-gray-300 sm:text-xl lg:text-lg xl:text-xl">
            For nearly 100 years and four generations, <b>Buckley &amp; Sitzman,
            LLP</b> has guided clients like you through the dynamic accounting
            landscape, helping them to maintain financial viability while
            proactively planning for future goals.
          </p>
          <div class="mt-10">
            <a href="/contact-us" class="inline-flex items-center uppercase py-6
                     px-8 rounded-md text-lg
                     hover:bg-blue-600 bg-blue-500 text-white font-medium
                     focus:outline-none focus:ring-2 focus:ring-offset-2
                     focus:ring-blue-400 focus:ring-offset-gray-900">
              Get in Touch
            </a>
          </div>
        </div>
      </div>
      <div class="mt-12 -mb-16 sm:-mb-48 lg:m-0 lg:relative">
        <div class="mx-auto max-w-md px-4 sm:px-6 lg:px-0">
          <img
            class="w-full max-w-md h-auto"
            src="/img/header-illustration.svg" alt=""
          >
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-16 text-center">
  <h1 class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
    {{title}}
  </h1>
</div>

<div class="my-16 max-w-3xl mx-auto">
  <p class="prose prose-xl">
    We accept all major credit cards as well as payments made by ACH. Follow the
    "Make a Payment" link below and you will be redirected to a secure page for
    processing.
  </p>
  <div class="my-16 text-center">
    <a href="https://secure.cpacharge.com/pages/buckleyandsitzmanllp/payments" class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
      Make a Payment
    </a>
  </div>
</div>
