---
title: Privacy Policy
layout: default
feature_image: "/img/splashes/laptop_and_hands.jpeg"
---

<div class="relative mb-16">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="prose prose-lg lg:text-xl text-gray-500 mx-auto">
      <p>
        CPAs, like all providers of personal financial services, are required by
        law to inform their clients of their policies regarding privacy of
        client information. CPAs have been and continue to be bound by
        professional standards of confidentiality that are even more stringent
        than those required by law. Therefore, we have always protected your
        right to privacy.
      </p>
      <h2>
        Your Privacy is Important to Us
      </h2>
      <p>
        We are committed to your privacy and retaining your trust. We respect
        your right to keep your personal information confidential and to avoid
        unwanted solicitations. Below is detailed what information we collect
        and how we use it.
      </p>

      <h2>
        Types of Nonpublic Personal Information We Collect
      </h2>
      <p>
        We collect nonpublic personal information about you that is provided to
        us by you or obtained by us with your authorization. This information
        has been derived from the following sources:
      </p>
      <ol>
        </li>
          Applications, tax preparation worksheets and any other documents that
          you may have provided for use in preparing your tax return.
        </li>
        <li>
          Transactions with others or us.
        </li>
        <li>
          Information we receive from a consumer-reporting agency.
        </li>
      </ol>

      <h2>Parties to Whom We Disclose Information</h2>
      <p>
        For current and former clients, we do not disclose any nonpublic
        personal information obtained in the course of our practice except as
        required or permitted by law. Permitted disclosures include, for
        instance, providing information to our employees, and in limited
        situations, to unrelated third parties who need to know that information
        to assist us in providing services to you. In all such situations, we
        stress the confidential nature of information being shared.
      </p>

      <h2>
        Protecting the Confidentiality and Security of Current and Former Clients’ Information
      </h2>
      <p>
        We retain records relating to professional services that we provide so
        that we are better able to assist you with your professional needs and,
        in some cases, to comply with professional guidelines. In order to guard
        your nonpublic personal information, we maintain physical, electronic,
        and procedural safeguards that comply with our professional standards.
      </p>
      <p>
        Should you end your relationship with us or become an inactive client,
        we will continue to adhere to the policy regulations as written here. We
        are committed to retaining your confidence, and want to assure you that
        any information you give us remains safe and confidential.
      </p>
      <p>
        Please email if you have any questions, because your privacy, our
        professional ethics, and the ability to provide you with quality
        financial services are very important to us.
      </p>
    </div>
  </div>
</div>

<div class="w-full my-12">
  <img class="mx-auto w-12" src="/assets/hex_logo.svg">
</div>
