---
title: Services
layout: default
---

<div class="relative py-12 px-4 sm:px-6 lg:px-8">
  <div class="prose prose-lg lg:text-xl text-gray-500 mx-auto">
    <p>
      At Buckley &amp; Sitzman, LLP, we guide our clients through a full range
      of tax planning and preparation decisions with strategies that minimize
      your tax liabilities, maximize your cash flow and keep you on track to
      your financial goals. Our expertise, experience, analysis and thorough
      research allow us to optimize financial opportunities to be found in
      existing as well as recently altered tax laws. We are knowledgeable and up
      to date on the tax laws and can make sense of your receipts, bills and
      notices.
    </p>
  </div>
</div>

<div class="mx-auto px-4">
  <ul role="list" class="space-y-12">

    {%- for service in collections.services -%}
      <li class="">
        <div class="prose prose-lg mx-auto">
          <h2>
            {{service.title}}
          </h2>
          <div>
            {{service.body | markdown | safe}}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="relative my-16 px-4 sm:px-6 lg:px-8">
  <div class="prose prose-lg lg:text-xl text-gray-500 mx-auto">
    <p>
      We work tirelessly to ensure the best outcomes for our clients. Ready to
      see what the accountants and staff at <b>Buckley &amp; Sitzman, LLP</b>
      can do for you and your business?
    </p>
  </div>
  <div class="max-w-prose text-center mx-auto">
    <p class="mt-10">
      <a
        href="/contact-us"
        class="inline-flex text-black items-center uppercase py-3 px-4 rounded-md
               hover:bg-secondary-600 bg-secondary-500 font-medium
               focus:outline-none focus:ring-2 focus:ring-offset-2
               focus:ring-secondary-400 focus:ring-offset-gray-900"
      >
        Contact Us
      </a>
    </p>
  </div>
</div>
