---
title: Submission Received
layout: default
feature_image: "/img/splashes/tax-stock-photo.jpeg"
---

<div class="p-8 mb-16 max-w-3xl mx-auto">
  <div class="prose prose-xl">
    <p>
      Thanks for getting in touch with us. One of our staff will reach out to you
      shortly at the contact information you provided.
    </p>
  </div>
  <div class="my-16 text-center">
    <a
      href="/"
      class="inline-flex items-center uppercase py-3 px-4 rounded-md
             hover:scale-105 transition ease-in-out bg-secondary-500 text-black
             font-medium focus:outline-none focus:ring-2 focus:ring-offset-2
             focus:ring-secondary-400 focus:ring-offset-secondary-600"
    >
      Back Home
    </a>
  </div>
</div>

<div class="w-full my-12">
  <img class="mx-auto w-12" src="/assets/hex_logo.svg">
</div>
