---
title: Transparency in Coverage
layout: default
feature_image: "/img/splashes/laptop_and_hands.jpeg"
---

<div class="relative mb-16">
  <div class="relative px-4 sm:px-6 lg:px-8">
    <div class="prose prose-lg lg:text-xl text-gray-500 mx-auto">
      <p>
        In compliance with the Transparency in Coverage Rule and Consolidated
        Appropriations Act, Blue Cross and Blue Shield of Nebraska publishes
        machine-readable files on behalf of Buckley &amp; Sitzman LLP. View the
        machine readable files at <a
        href="http://www.nebraskablue.com/MRFs">http://www.nebraskablue.com/MRFs</a>.
      </p>
    </div>
  </div>
</div>

<div class="w-full my-12">
  <img class="mx-auto w-12" src="/assets/hex_logo.svg">
</div>
